{% extends 'base.html' %}

{% block main %}
    <h2>Contact-Form</h2>
    <p>Here we are using the Flask-WTF library to create and process a form. Flask-WTF also comes with CSRF protection and validation classes.</p>

    <form method="post" action="{{ url_for('contact') }}">
        {{ form.csrf_token }}
        <div class="form-group">
            {{ form.name.label }} {{ form.name(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.email.label }} {{ form.email(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.subject.label }} {{ form.subject(class="form-control", placeholder="jdoe@example.com") }}
        </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}